@page "/"
@inject NavigationManager Navigation

<PageTitle>StartPage</PageTitle>

<MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Info" GutterBottom="true">Sign in to your account to work with tables. </MudText>


<div style="text-align:center">
    <MudButtonGroup Style="text-anchor:middle" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" OverrideStyles="false">
        <MudButton Style="text-anchor:middle"
                   Variant="Variant.Outlined"
                   Color="Color.Primary"
                   Size="Size.Large"
                   OnClick="SignInPage">
            Sign In
        </MudButton>
        <MudButton Style="text-anchor:middle"
                   Variant="Variant.Outlined"
                   Color="Color.Surface"
                   Size="Size.Large"
                   OnClick="RegistrationPage">
            Registration
        </MudButton>
    </MudButtonGroup>
</div>

@functions 
{
    void RegistrationPage()
    {
        Navigation.NavigateTo("/registration");
    }

    void SignInPage()
    {
        Navigation.NavigateTo("/login");
    }
}