@page "/"

@using System.Security.Claims
@using TestTask.MudBlazors.Pages.Table.Dialog

@inject NavigationManager Navigation

@attribute [AllowAnonymous]

<PageTitle>StartPage</PageTitle>

<MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Info" GutterBottom="true">Sign in to your account to work with tables. </MudText>

<div style="text-align:center">
    <MudButtonGroup OverrideStyles="false">
        <MudButton Style="width: 200px; height: 60px;"
                   Variant="Variant.Filled"
                   Color="Color.Surface"
                   Size="Size.Large"
                   Class="mr-6"
                   OnClick="SignInPage">
            Sign In
        </MudButton>
        <MudButton Style="width: 200px; height: 60px;"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Size="Size.Large"
                   Class="ml-6"
                   OnClick="RegistrationPage">
            Registration
        </MudButton>
    </MudButtonGroup>
</div>

@functions 
{
    void RegistrationPage() => Navigation.NavigateTo($"/login/{false}");

    void SignInPage() => Navigation.NavigateTo($"/login/{true}");
}