@page "/"

@using System.Security.Claims
@using TestTask.MudBlazors.Authenticate
@using TestTask.MudBlazors.Dialog

@inject NavigationManager Navigation

@attribute [AllowAnonymous]

@if (AuthState.Result.User.Identity.IsAuthenticated)
{
    Navigation.NavigateTo("/table");
}

else
{
    <PageTitle>StartPage</PageTitle>

    <MudText Typo="Typo.h2" Align="Align.Center" Color="Color.Info" GutterBottom="true">Sign in to your account to work with tables. </MudText>

    <div style="text-align:center">
        <MudButtonGroup OverrideStyles="false">
            <MudButton Style="width: 200px; height: 60px;"
                       Variant="Variant.Filled"
                       Color="Color.Surface"
                       Size="Size.Large"
                       Class="mr-6"
                       OnClick="SignInPage">
                Sign In
            </MudButton>
            <MudButton Style="width: 200px; height: 60px;"
                       Variant="Variant.Filled"
                       Color="Color.Surface"
                       Size="Size.Large"
                       Class="ml-6"
                       OnClick="RegistrationPage">
                Registration
            </MudButton>
        </MudButtonGroup>
    </div>
}

@functions 
{
    private void RegistrationPage() => Navigation.NavigateTo($"/login/{false}");

    private void SignInPage() => Navigation.NavigateTo($"/login/{true}");
}

@code
{
    [CascadingParameter] protected Task<AuthenticationState> AuthState { get; set; }
}